
<div id="typing" class="big-bg">
  <%= render "shared/header" %>
  <div class="typing_body">
    <p class="question" id="target">Click to start!</p>
    <p id="result"></p>
  </div>
</div>
<%= javascript_pack_tag 'typing' %>
