<div id="typing" class="big-bg">
  <header class="typing-header wrapper">
    <%= link_to root_path do %>
      <h1 class="logo"><span class="dot-font">MINE TYPING</span></h1>
    <% end %>
    <nav>
      <ul class="header-nav">
        <li><a href="/abouts/index"><span class="dot-font">About</span></a></li>
        <li><a href="/dictionaries"><span class="dot-font">Dictionary</span></a></li>
        <li><a href=""><span class="dot-font">Typing</span></a></li>
        <li><a href="/characters/index"><span class="dot-font">Characters</span></a></li>
      </ul>
    </nav>
  </header>
  <div class="typing_body">
    <p id="target"></p>
    <p id="result">Finished! 10seconds!</p>
  </div>
</div>
