<div class="typing_body">
<textarea style="position:absolute; top ;130px; righ: 30px; width: 300px;"></textarea>

<%# <div class="keyboard">
    <div class="keyboard__keys">
  <button type="button" class="keyboard__key">a</button>
  <button type="button" class="keyboard__key keyboard__key--wide">
    <span class="material-symbols-outlined">
    backspace
    </span>
  </button>
  <button type="button" class="keyboard__key keyboard__key--extra-wide">
    <span class="material-symbols-outlined">
    space_bar
    </span>
  </button>
  <button type="button" class="keyboard__key keyboard__key--activatable">
    <span class="material-symbols-outlined">
    keyboard_capslock
    </span>
  </button>
  <button type="button" class="keyboard__key keyboard__key--wide keyboard__key--dark">
    <span class="material-symbols-outlined">
    check_circle
    </span>
  </button>
    </div>
</div> %>
</div>
<%= javascript_pack_tag 'keyboard.js' %>
