<div id="home" class="big-bg">
  <div class="home-wrapper">
    <div class="top-logo"><span class="dot-font"><typewritten-text letter-interval="300">MINE TYPING</span></typewritten-text></div>
    <nav class="home-nav">
      <ul>
      <li><a href="/abouts/index"><span class="dot-font">About</span></a></li>
      <li><a href="/dictionaries"><span class="dot-font">Dictionary</span></a></li>
      <li><a href="/typings"><span class="dot-font">Typing</span></a></li>
      <li><a href="/characters/index"><span class="dot-font">Characters</span></a></li>
      </ul>
    </nav>
    <%#= link_to "New Account" %>  <%#= link_to "Log in" %> 
  </div><!-- /.home-wrapper -->
</div><!-- /#home /.big-bg -->
