<div id="dictionary" class="big-bg">
  <header class="page-header wrapper">
    <a href="/home/index"><h1 class="logo">MINE TYPING</h1></a>
    <div class="character"><h3>keybo lv.1</h3><%=image_tag("keybo/k-1.gif", width: 70, height: 70)%></div>
    <nav>
      <ul class="header-nav">
        <li><a href="/abouts/index">About</a></li>
        <li><a href="/dictionaries">Dictionary</a></li>
        <li><a href="">Typing</a></li>
        <li><a href="/characters/index">Characters</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <div class="content-section">
      <div class="select">
        <label class="selectbox-003">
          <select>
            <option>辞書一覧</option>
            <option>英語</option>
            <option>ruby</option>
          </select>
        </label>
        <label class="selectbox-003">
          <select>
            <option>昇順</option>
            <option>降順</option>
          </select>
        </label>
      </div><!-- /.select -->
      <div class="add-button">
      <%= link_to "辞書を登録する", new_dictionary_path, class: "add-button__dictionary" %>
      <%= link_to "単語を登録する", "#", class: "add-button__word" %>
      <%= link_to "辞書一覧", "#", class: "list-button__all" %>
      </div><!-- /.add-button -->
    </div><!-- /.content-section -->
    <div class="card-content grid">
      <div class="card">
        <h3 class="word">カード</h3>
        <p class="mean">カードの説明カードの説明カードの説明カードの説明カードの説明カードの説明カードの説明
        カードの説明カードの説明カードの説明カードの説明カードの説明カードの説明カードの説明
        カードの説明カードの説明カードの説明カードの説明カードの説明カードの説明カードの説明
        </p>
      </div><!-- /.card -->
      <div class="card">
        <h3 class="word">カード</h3>
        <p class="mean">カードの説明カードの説明カードの説明カードの説明カードの説明カードの説明カードの説明
        カードの説明カードの説明カードの説明カードの説明カードの説明カードの説明カードの説明
        カードの説明カードの説明カードの説明カードの説明カードの説明カードの説明カードの説明
        </p>
      </div><!-- /.card -->
      <div class="card">
        <h3 class="word">カード</h3>
        <p class="mean">カードの説明カードの説明カードの説明カードの説明カードの説明カードの説明カードの説明
        カードの説明カードの説明カードの説明カードの説明カードの説明カードの説明カードの説明
        カードの説明カードの説明カードの説明カードの説明カードの説明カードの説明カードの説明
        </p>
      </div><!-- /.card -->
      <div class="card">
        <h3 class="word">カード</h3>
        <p class="mean">カードの説明カードの説明カードの説明カードの説明カードの説明カードの説明カードの説明
        カードの説明カードの説明カードの説明カードの説明カードの説明カードの説明カードの説明
        カードの説明カードの説明カードの説明カードの説明カードの説明カードの説明カードの説明
        </p>
      </div><!-- /.card -->
      <div class="card">
        <h3 class="word">カード</h3>
        <p class="mean">カードの説明カードの説明カードの説明カードの説明カードの説明カードの説明カードの説明
        カードの説明カードの説明カードの説明カードの説明カードの説明カードの説明カードの説明
        カードの説明カードの説明カードの説明カードの説明カードの説明カードの説明カードの説明
        </p>
      </div><!-- /.card -->
      <div class="card">
        <h3 class="word">カード</h3>
        <p class="mean">カードの説明カードの説明カードの説明カードの説明カードの説明カードの説明カードの説明
        カードの説明カードの説明カードの説明カードの説明カードの説明カードの説明カードの説明
        カードの説明カードの説明カードの説明カードの説明カードの説明カードの説明カードの説明
        </p>
      </div><!-- /.card -->
      <div class="card">
        <h3 class="word">カード</h3>
        <p class="mean">カードの説明カードの説明カードの説明カードの説明カードの説明カードの説明カードの説明
        カードの説明カードの説明カードの説明カードの説明カードの説明カードの説明カードの説明
        カードの説明カードの説明カードの説明カードの説明カードの説明カードの説明カードの説明
        </p>
      </div><!-- /.card -->
      <div class="card">
        <h3 class="word">カード</h3>
        <p class="mean">カードの説明カードの説明カードの説明カードの説明カードの説明カードの説明カードの説明
        カードの説明カードの説明カードの説明カードの説明カードの説明カードの説明カードの説明
        カードの説明カードの説明カードの説明カードの説明カードの説明カードの説明カードの説明
        </p>
      </div><!-- /.card -->
    </div><!-- /.card-content grid -->

  </main> 
</div><!-- /#dictionary /.big-bg-->
