<div id="dictionary" class="big-bg">
  <%= render "shared/header" %>
  <main>
    <div class="ui_wrapper">
      <div class="select">
        <label class="selectbox-003">
          <select>
            <option>昇順</option>
            <option>降順</option>
          </select>
        </label>
      </div><!-- /.select -->

      <div id="open">
        辞書を登録する
      </div>
    </div>
    <!-- modal window -->
    <div class="dictionary__modal">
      <div id="mask" class="hidden"></div>
      <section id="modal" class="hidden">
        <p>辞書の名前</p>
        <input type="text">
        <div class="add_button">
          <button>保存</button>
        </div>
        <div id="close">
          閉じる
        </div>
      </section>
    </div>
    <!-- end modal window -->
    <div class="card-content grid">
      <div class="dictionary_category">
        <%= link_to "辞書の名前", "#", class: "add-button__dictionary" %>
      </div><!-- /.book -->
      <div class="dictionary_category">
        <%= link_to "辞書の名前", "#", class: "add-button__dictionary" %>
      </div><!-- /.book -->
      <div class="dictionary_category">
        <%= link_to "辞書の名前", "#", class: "add-button__dictionary" %>
      </div><!-- /.book -->
    </div><!-- /.book-content grid -->
  </main> 
</div><!-- /#dictionary /.big-bg-->
