<div id="dictionary" class="big-bg">
<%= render "shared/header" %>
  <div class="dictionary_form">
    <p class="dictionary_form__contents">新しい辞書を登録する</p>
    <p>辞書の名前</p>
    <input type="text">
    <div class="add_button">
      <button>保存</button>
    </div>
  </div><!-- /.dictionary_form -->
  <div class="return_button">
    <button>戻る</button>
  </div>
</div>
