<div id="word" class="big-bg">
<%= render "shared/header" %>
  <main>
    <div class="ui_wrapper">
      <div class="select">
        <label class="selectbox-003">
          <select>
            <option>昇順</option>
            <option>降順</option>
          </select>
        </label>
      </div><!-- /.select -->
      <div id="open">
        単語を登録する
      </div>
    </div>
    <!-- modal window -->
    <div class="word__modal">
      <div id="mask" class="hidden"></div>
      <section id="modal" class="hidden">
        <p>単語</p>
        <input type="text">
        <p>意味</p>
        <textarea></textarea>
        <div class="add_button">
          <button>保存</button>
        </div>
        <div id="close">
          閉じる
        </div>
      </section>
    </div>
    <!-- end modal window -->
    <div class="card-content grid">
      <div class="dictionary_category">
        <h3 class="name">単語</h3>
        <p class="description">カードの説明カードの説明カードの説明カードの説明カードの説明カードの説明カードの説明
        カードの説明カードの説明カードの説明カードの説明カードの説明カードの説明カードの説明
        カードの説明カードの説明カードの説明カードの説明カードの説明カードの説明カードの説明
        </p>
      </div><!-- /.book -->
      <div class="dictionary_category">
        <h3 class="name">単語</h3>
        <p class="description">カードの説明カードの説明カードの説明カードの説明カードの説明カードの説明カードの説明
        カードの説明カードの説明カードの説明カードの説明カードの説明カードの説明カードの説明
        カードの説明カードの説明カードの説明カードの説明カードの説明カードの説明カードの説明
        </p>
      </div><!-- /.book -->
      <div class="dictionary_category">
        <h3 class="">単語</h3>
        <p class="description">カードの説明カードの説明カードの説明カードの説明カードの説明カードの説明カードの説明
        カードの説明カードの説明カードの説明カードの説明カードの説明カードの説明カードの説明
        カードの説明カードの説明カードの説明カードの説明カードの説明カードの説明カードの説明
        </p>
      </div><!-- /.book -->
    </div><!-- /.book-content grid -->
  </main> 
</div><!-- /#dictionary /.big-bg-->
<script></script>
