<div id="characters" class="big-bg">
  <div class="character_content">

      <%# <div class="keybo">  <%= image_tag("k-first.gif") %>
    <%= link_to root_path do %>
      <h1 class="">TOPに戻る</h1>
    <% end %>
  </div>
</div>
