<div id="word" class="big-bg">
<%= render "shared/header" %>
  <div class="word_form">
    <p class="">単語を登録する</p>
    <div class="select">
      <label class="selectbox-003">
        <select>
          <option>辞書の選択</option>
          <option>英語</option>
        </select>
      </label>
    </div><!-- /.select -->
    <p>単語</p>
    <input type="text" >
    <p>意味</p>
    <textarea >
    </textarea>
    <div class="add_button">
      <button>保存</button>
    </div>
  </div><!-- /.word_form -->
  <div class="return_button">
    <button>戻る</button>
  </div>
</div><!-- /#word  /.big-bg -->
