<div id="about" class="big-bg">
  <div class="about-content">
      <%# <div class="keybo">  <%= image_tag("k-first.gif") %>
    <%= link_to root_path do %>
      <h1 class="">TOPに戻る</h1>
    <% end %>
  </div>
</div>
