<div id="about" class="big-bg">
  <div class="about-content">
    <p>
      こんにちは
      ボクの名前はkeyboです。<br/>
      
      このアプリは自分で辞書を作成できます。<br/>
      そして<br/>
      その辞書に登録した単語でタイピング練習ができます。<br/>
      正解数によってボクは成長します。<br/>
      これから一緒に成長していきましょう。<br/>
    </p>
      <%# <div class="keybo">  <%= image_tag("k-first.gif") %>
    <a class="button" href="/home/index">TOPに戻る</a>
  </div>
</div>
