@charset "UTF-8";

.dot-font{
	font-family: 'Mobile Font Regular';
	font-style: normal;
	font-weight: normal;
	margin: 5px;
  color: #5a2f2f;
}

:root {
  font-family: 'Yomogi', cursive;

}

// home============================


.big-bg {
  background-size: cover;
  background-position: center top;
}

#home {
	background-image: url("top.jpg");
  min-height: 100vh;
}


.top-logo{
  font-size: 4rem;
  font-weight: bold;
}


.home-wrapper {
  // text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}



.home-nav {
  font-size: 2rem;
}

.home-nav li {
  margin: 10px 0; 
}
