
#typing {
  background-image: url("sougen.png");
  min-height: 100vh;
}

.typing-header{
  display: flex;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.489);
}


// タイピング画面＝＝＝＝＝＝＝＝＝＝＝

p.question{
  margin-bottom: 36px;
}


.typing_body{
  padding-top: 40px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

#target{
  font-size: 48px;
  letter-spacing: .1em;
}
